<!DOCTYPE html>
<html lang="en-us" ng-app="lobuplaApp">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lobupla | Local Business Platform</title>

  <meta name="author" content="">
  <meta name="description" content="">


  <!-- CSS files -->
  <link
    href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic|Montserrat:400,700'
    rel='stylesheet'>
  <link rel="stylesheet" href="palas/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="palas/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="palas/plugins/elegant_font/html_css/style.css">

  <link rel="stylesheet" href="palas/plugins/owl-carousel/owl.carousel.css">


  <!-- Main CSS file -->
  <link rel="stylesheet" href="palas/css/style.css">
  <link rel="stylesheet" href="palas/css/style2.css">
  <link rel="stylesheet" href="bower_components/map-icons/css/map-icons.css">


</head>
<body>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script type="text/ng-template" id="preloader.htm">
  <div id="preloader" class="preloader" data-ng-class="{on:preloader, off:!preloader}">
    <div id="status">&nbsp;</div>
  </div>
</script>

<script type="text/ng-template" id="footer.htm">
  <!-- Footer wrapper -->
  <footer class="footer-wrapper footer-bg">
    <div class="container">
      <div class="row col-p30">
        <div class="col-sm-12 col-md-4">
          <div class="footer-widget">
            <h3 class="footer-title">Palas</h3>
            <ul class="footer-links clearfix">
              <li><a href="#">Home</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Features</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="footer-widget">
            <h3 class="footer-title">Get social</h3>
            <ul class="footer-social clearfix">
              <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" data-toggle="tooltip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="footer-widget">
            <h3 class="footer-title">Tweets</h3>
            <!-- This is just a dummy twitter feed with typed content (not generetad).
                        Didn't include the twitter feed for performance benefits.
                        See in documentation how to include a fully functional twitter feed widget -->
            <div class="sidebar-tweet clearfix">
              <i class="fa fa-twitter"></i>

              <p class="tweet-content">
                <a href="#" class="tweet-user">@abusinesstheme</a>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                <small>22 hours ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-push-6 col-md-push-4 xs-box">


          <!-- MailChimp Subscribe Form -->
          <div id="mc_embed_signup">
            <!-- Replace the below url with the action link from mailchimp (see documentation) -->
            <form
              action="http://abusinesstheme.us10.list-manage.com/subscribe/post?u=dd23cb20d9d4dde851546bd9a&amp;id=8d7dbd85d4"
              method="post"
              id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate
              class="footer-subscribe">
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" id="mce-EMAIL" required
                       placeholder=" Type email and hit enter">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_111fbc1ae1a748cfb4ef9ac27_ac969aca2f" tabindex="-1" value="">
                </div>
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="hidden"></button>
              </div>
            </form>
          </div>
          <!-- END mc_embed_signup -->

        </div>
        <div class="col-sm-6 col-md-4 col-sm-pull-6 col-md-pull-4">
          <p class="copyright">&copy; Copyright 2010 - 2015 abusinesstheme</p>
        </div>

      </div>

    </div>

     </footer>
</script>

<script type="text/ng-template" id="pagination.htm">
  <div class="row">
    <div class="col-sm-12">
      <ul class="pagination pagination-2 dark">
        <li data-ng-class="{disabled:!offset>0}"><a data-ng-click="offset>0 && previous()" href="#"><i class="fa fa-chevron-left"></i></a></li>
        <li><a data-ng-click="next()" href="#"><i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
</script>

<script type="text/ng-template" id="logo.htm">
  <div class="h-wrapper">

    <!-- Top Bar -->

    <!-- Header -->
    <header class="header-wrapper header-transparent with-topbar">
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Logo - Read documentation to see how to change the logo-->
              <a href="index.html" class="logo"></a>
            </div>
          </div>
        </div>
        <!-- END Container -->
      </div>
      <!-- END Main Header -->
    </header>

  </div>
</script>

<div ui-view=""></div>
</div>
<!-- END Global Wrapper -->


<!-- Javascript files YEOMAN-->

<!-- build:js scripts/modules.js
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>-->
<script src="palas/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-googlemaps/angular-googlemaps.js"></script>
<script src="bower_components/angular-foursquare-api/angular-foursquare-api.js"></script>
<script src='bower_components/lodash/dist/lodash.min.js'></script>
<script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src='bower_components/map-icons/js/map-icons.min.js'></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/home.js"></script>
<!-- endbuild -->


<!-- Javascript files PALAS
<script src="palas/plugins/jquery/jquery-2.1.0.min.js"></script>-->
<script src="palas/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="palas/plugins/jquery.appear.js"></script>
<script src="palas/plugins/retina.min.js"></script>
<script src="palas/plugins/stellar.min.js"></script>
<script src="palas/plugins/sticky.min.js"></script>

<script src="palas/plugins/owl-carousel/owl.carousel.min.js"></script>

<script src="palas/plugins/jflickrfeed.min.js"></script>


<!-- Main javascript file
<script src="palas/js/script.js"></script>-->


</body>
</html>
