.display-inline {
  display: inline;
}
.display-block {
  display: block;
}
.display-table {
  display: table;
}


body {
  overflow: visible;
}

.margin5 {
  margin: 5px;
}
.margin10 {
  margin: 10px;
}
.margin20 {
  margin: 20px;
}
.margin30 {
  margin: 30px;
}
.margin40 {
  margin: 40px;
}
.margin50 {
  margin: 50px;
}

.margin15 {
  margin: 15px;
}
.margin25 {
  margin: 25px;
}
.margin35 {
  margin: 35px;
}
.margin45 {
  margin: 45px;
}
.margin55 {
  margin: 55px;
}


section.header .btn-c {
  color: white;
  border-color: white;
}

section.header li {
  padding: 5px;
}

#preloader {
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#preloader.off {
  visibility: hidden;
  opacity: 0;
}

.section-intro {
  position: relative;
  padding: 20px 0 20px;
}

.op6 {
  opacity: 0.95 !important;
}
