
<h4 ng-class="{on:showLatest, off:!showLatest}" ng-click="toggleLatest()">
	 
	<span ng-show="!showLatest">View latest locations</span>
	<span ng-show="!showLatest">----></span>
	<span ng-show="showLatest">Hide latest locations</span>
	<span ng-show="showLatest"><----</span>
</h4>
<ol ng-show="showLatest">
	<li ng-repeat="address in lastestSearchs">
		{{address}} <button ng-click="removeAddress($index)">X</button>
		<button ng-click="research($index)">Research</button>
	</li>
</ol>

<p>Input any address to locate all you want!</p>
<input ng-enter="updateVenues(address)" type="search" ng-model="address">
<button ng-click="updateVenues(address)">Send</button>

<ol>
	<li ng-repeat="item in venues">{{item.name}}</li>
</ol>
