<div ng-include="'preloader.htm'"></div>

<div ng-include="'logo.htm'"></div>


<!-- Do not remove this class -->
<div class="push-top"></div>

<div ng-include="'search.htm'"></div>


<section data-ng-init="init()" class="section-page">
  <div class="container">
    <div class="row">
      <div class="col-12 space-left push-off">
        <div class="row blog-list">
          <div ng-repeat="item in venues.context" class="col-sm-12">
            <div class="row blog-item">
              <div data-ng-if="item.venue.photos.groups[0].items[0]" class="col-sm-12 blog-image col-p0">
                <img
                  src="{{item.venue.photos.groups[0].items[0].prefix + '1280x500' + item.venue.photos.groups[0].items[0].suffix}}"
                  alt="blog image">
              </div>
              <div class="col-sm-12 blog-caption">
                <h3 class="post-title">{{item.venue.name}}</h3>

                <div class="sub-post-title">
                  <span>{{item.venue.categories[0].name}}</span> <span class="separator"> / </span> <span>{{item.venue.location.address}}</span>
                </div>
                <p>{{item.tips[0].text}}</p>

              </div>
            </div>
          </div>
          <!-- END Blog Item -->

        </div>
        <!-- END Blog Posts -->
        <div class="row">
          <div class="col-sm-12">
            <ul class="pagination pagination-2 dark">
              <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- END Blog Page-->

<div ng-include="'footer.htm'"></div>

